<h1><%= t("flashcarder_login") %></h1>
<%= simple_form_for :session, url: session_path, method: :post, action: :create do |f| %>
  <%= f.input :email, label: t('email_here') %>
  <%= f.input :password, label: t('password_here') %>
  <%= f.button :submit, t('submit') %>
 <% end %>
