  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"> eMail: </div>
        <div class="panel-body"> <%= @user.email %> </div>
      </div>


      <div class="container">
        <% if @card != nil  %>
          <h3><%= @card.translated_text%></h3>
          <%= simple_form_for @card, url: compare_user_card_path(current_user, @card.id), method: "post" do |f| %>
            <%= f.input :compared_text, label: t("original"), as: :fake %>
            <%= f.button :submit, t('check') %>
          <% end %>
        <% else %>
          <p><%= t('no_card_to_verify') %></p>
        <% end %>
      </div>
    </div>
  

    <div class="col-xs-6 col-md-4">
      <div class="btn-group-vertical" role="group" aria-label="...">

            <%= link_to t("all_c"), user_cards_path(current_user.id), class: "btn btn-default" %>
            <%= link_to t("add_c"), new_user_card_path(current_user.id), class: "btn btn-default" %>
      </div>
    </div>
  </div>
