<h2><%= t('register') %> </h2>
<%= simple_form_for @user, url: registration_path, method: :post, action: :create do |f| %>
  <%= f.input :email, label: t('email_here') %>
  <%= f.input :password, label: t('password_here') %>
  <%= f.input :password_confirmation, label: t('password_confirmation_here') %>
  <%= f.button :submit, t('submit') %>
  <%= link_to t('Login_with_vk'), auth_at_provider_path(provider: :vk), class: "btn btn-default" %>
 <% end %>