<section>
  <p style="font-size: 22px;">
    <%= t('first_flash_manager')%>
  </p>
</section>
<h2><%=t('remember?')%></h2>
<body>
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <% if @card %>
      <h3><%= @card.translated_text%></h3>
      <%= simple_form_for @card, url: compare_card_path(@card.id), method: "post" do |f| %>
        <%= f.input :compared_text, label: t("original"), as: :fake %>
        <%= f.button :submit, t('check') %>
      <% end %>
    <% else %>
      <p><% t.("no_card_to_verify") %></p>
    <% end %>
</div>
</body>
