<h2><%=t('all_c')%></h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('original') %></th>
      <th><%= t('translated') %></th>
      <th><%= t('view_date') %></th>
    </tr>
  </thead>
 <tbody>
	  <% @cards.each do |card| %>
	      <tr>
	        <td><%= card.original_text %></td>
	        <td><%= card.translated_text %></td>
	        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
	        <td>
	          <div class="btn-group">
	        	<button type="button" class="btn btn-default"><%= link_to t('edit_short'), edit_card_path(card) %>   </button>
	            <button type="button" class="btn btn-default"><%= link_to t('delete'), card_path(card), 
                    method: :delete, 
                    data: {confirm: t("sure?")} %> </button>
              </div>
            </td>
	       </tr>
	   <% end %>
	</tbody>
</table>