<h2><%=t('all_c')%></h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('original') %></th>
      <th><%= t('translated') %></th>
      <th><%= t('view_date') %></th>
    </tr>
  </thead>
 <tbody>
	  <% @cards.each do |card| %>
	      <tr>
	        <td><%= card.original_text %></td>
	        <td><%= card.translated_text %></td>
	        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
	        <td><%= link_to t('edit_short'), edit_card_path(card) %>  <%= link_to t('delete'), delete_card_path(card) %></td>
	       </tr>
	   <% end %>
	</tbody>
</table>
