  <h3> <div id="translated"> <%= card.translated_text %>  </div> </h3>
  <%= simple_form_for card, url: compare_card_path(card.id), method: "post", html: { class: "card_checkout" }, remote: true do |f| %>
    <div id="card_exemplum">
    <%= image_tag(card.exemplum.url) if card.exemplum? %>
    </div>
    <%= f.input :compared_text, label: t("original"), as: :fake %>
    <%= f.button :submit, t('check') %>
  <% end %>
