<!DOCTYPE html>
<html>
<head>
  <title><%= t('flash') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<section id="container">

	    <header class="clearfix">
	      <div class="page-header">
	      	<h1> <%= t('flash') %> </h1>
	      </div>
	      <ul class="nav nav-pills">
	        <li><%= link_to t('home'), home_path%></li>
	        <li><%= link_to t('all_c'), cards_path%></li>
	        <li><%= link_to t('add_c'), new_card_path %></a></li>
	        <li><%= link_to t('login'), new_user_path %></a></li>
	      </ul>
	    </header>
		<%= yield %>
  	</section>


</body>
</html>
